.DS_Store
.DS_STORE
.yardoc
rerun.txt
*.sqlite3*
Capfile
config/database.yml
config/deploy*
config/newrelic.yml
config/settings.yml
coverage
db/fixtures/test.rb
doc
lib/tasks/import.rake
log/*.log
mkmf.log
public/javascripts/cache
public/stylesheets/application.css
public/stylesheets/print.css
public/stylesheets/cache
tmp/*
tmp/**/*
webrat*.html