.idea
.settings
.project
.DS_Store
.DS_STORE
.yardoc
rerun.txt
*.sqlite3*
Capfile
config/database.yml
config/deploy*
config/newrelic.yml
config/settings.yml
coverage
db/fixtures/test.rb
doc
lib/tasks/import.rake
log/*.log
mkmf.log
public/assets/**
tmp/*
tmp/**/*
public/assets/
public/stylesheets/
.tags*