.idea
.settings
.project
.DS_Store
.DS_STORE
.yardoc
rerun.txt
*.sqlite3*
Capfile
config/database.yml
config/deploy*
config/newrelic.yml
config/settings.yml
coverage
db/fixtures/test.rb
doc
lib/tasks/import.rake
log/*.log
mkmf.log
public/apidocs
public/assets/**
public/assets/
public/stylesheets/
public/javascripts/
tmp/*
tmp/**/*
.tags*
vendor/bundle