<p>
  An administrator has contacted you regarding the event <%= @event.name %>.
</p>

<p>
  <strong>Subject:</strong> <%= @email_subject %>
  <br />
  <strong>Body:</strong> <%= @email_body %>
</p>

<%= render 'footer' %>