<p>
  The event named '<%= @previous_name %>' has been renamed as '<%= @event.name %>'.
</p>

<p>
  This does not affect the events operation. Your attendance as a <%= @role.name %>
  is still required.
</p>

<%= render 'footer' %>