<p>
  Documents attached to this email need to be printed and
  sent via mail to the staff they are for because the staff
  member does not have an email address that it could be sent
  to electronically.
</p>

<p>
  If the PDF contains a blank postage address, the details for
  them are not available on the staff members details, and thus
  need to be written on after printing the document.
</p>

<%= render 'footer' %>