<p>
  This email is confirming the details of an event you have been rostered to.
</p>

<p>
  You will be working at the following event as a <%= @role.name %>.
</p>

<%= render 'event_details' %>

<%= render 'footer' %>