<% title "Listing staff members" %>

<%= render 'staff_list_and_search' %>

<%= content_for(:tools) do %>
<ul>
  <li><%= link_to "Add Staff Member", new_staff_path %></li>
  <li><%= link_to "Email all Staff Members", contact_all_staff_index_path %></li>
</ul>
<% end %>