/* -- CSS for the WeeklyBuilder Rails plugin -- */
/* Navigation */
.weekly_links   { margin: 5px 0; font-weight: bold; }
.weekly_links a { color: #098BB6; }
/* Calendar */
.weekly_builder                               { width: 100%; border: 1px solid #ccc; margin: 5px 0; }
.weekly_builder .days_column                  { width: 15%; float: left; border-bottom: 1px solid #CCCCCC; }
.weekly_builder .days_column .placeholder     { width: 100%; height: 40px; background: #A8CFDA url(/images/placeholder_row.png); }
.weekly_builder .days_column .placeholder div { padding-top: 10px; text-align: center; }
.weekly_builder .days_column .day             { height: 74px; border-top: 1px solid #ccc; border-right: 1px solid #8F8F8F; }
.weekly_builder .days_column .day .name       { margin: 15px 0 0 15px; font-weight: bold; }
.weekly_builder .days_column .day .date       { margin: 0 0 0 15px; }
.weekly_builder .data                         { width: 85%; float: right; overflow: auto; position:relative; }
.weekly_builder .data .hours_row              { width: 1800px; height: 40px; border-bottom: 1px solid #fff; background: #A8CFDA url(/images/header_row.png); overflow: hidden; }
.weekly_builder .data .hours_row .hour        { width: 74px; height: 40px; float: left; border-right: 1px solid #fff; font-weight: bold; }
.weekly_builder .data .hours_row .hour div    { padding-top: 10px; text-align: center; }
.weekly_builder .data .day                    { width: 1800px; position:relative; height: 75px; background: #C0C0C0 url(/images/grid.png); overflow: hidden; }
.weekly_builder .data .day .event             { height: 75px; position:absolute; background-color: #CCCCFF; border-left: 4px solid #5A484F; }
.weekly_builder .data .day .event:hover       { background-color: #EEEEFF; }
.weekly_builder .data .day .event div         { padding: 5px; }
/* Business Hours overides */
.weekly_builder .data.business_hours .hours_row { width: 1050px; }
.weekly_builder .data.business_hours .day       { width: 1050px; }
/* Opacity for various browsers */
.weekly_builder .data .day .event {
  filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
