<% title "Contact staff rostered to event: #{@event.name}" %>

<% form_tag({}, { :method => :post }) do %>
  <p>
    <label for="group"><strong>Who should this email be sent to?</strong></label> <br />
    <%= select_tag :group, options_for_select(Event::ContactGroups, params[:group]) %>
  </p>
  <p>
    <label for="subject"><strong>Subject:</strong></label> <br />
    <%= text_field_tag :subject, params[:subject], :size => 46 %>
  </p>
  <p>
    <label for="body"><strong>Email body:</strong></label> <br />
    <%= text_area_tag :body, params[:body], :rows => 10, :cols => 40 %>
  </p>
  <p>
    <%= submit_tag 'Send Email' %>
  </p>
<% end %>
