/*
 *= require jquery-ui/datepicker
 *= require fullcalendar
 */

body {
  background-color: #ccc;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: .8em;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: purple; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }

h3.page_title {
  padding: 2px 10px;
  margin-bottom: 15px;
  border-left: 5px double #000;
}

#container {
  width: 75%;
  margin: 30px auto;
  border: 1px solid #000;
  background-color: #fff;
  padding: 30px 30px 0 30px;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#header {
  margin-bottom: 10px;
  #user_nav {
    float: right;
  }
  #banner {
    padding: 15px;
  }
}

.flash_notice,
.flash_info,
.flash_error {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

.flash_notice, .flash_info {
  background-color: #FFFF99;
  border: 1px solid #FFCC66;
}

.flash_error {
  background-color: #CC6666;
  border: 1px solid #FF0000;
}

#content {
  padding: 15px;
  margin-bottom: 10px;
}

#tools {
  border: 1px solid #bbb;
  background-color: #eee;
  margin: 0 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float:left;
      border-right: 1px solid #000;
      a {
        display: block;
        margin: 5px 15px;
      }
    }
    li.current_section {
      background: #000;
      a {
        color: #fff;
      }
    }
    li.last {
      border: none;
    }
  }
  .divider {
    clear: both;
    height: 2px;
    background-color: #000;
  }
}

#footer {
  padding: 15px;
  text-align: center;
}

.fieldWithErrors {
  display: inline;
  input, select {
    border: 1px solid red;
  }
}

#errorExplanation {
  width: 500px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#index_table,
.events_list {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-bottom: 15px;
  * {
    text-align: left;
  }
  tr {
    border-bottom: 1px solid #000;
  }
  th, td {
    padding: 5px;
    border-right: 1px solid #000;
  }
  .controls {
    width: 150px;
  }
  .checkbox {
    width: 25px;
    text-align: center;
  }
  .control {
    width: 50px;
    text-align: center;
  }
}

#staff_search {
  margin: 10px 0;
  width: 300px;
}

.pagination {
  margin: 0 0 5px 0;
  float: right;
}

.formtastic {
  fieldset {
    border: none;
    legend {
      font-weight: bold;
      margin-top: 10px;
    }
    ol {
      list-style: none;
      padding-left: 10px;
      li {
        margin-bottom: 15px;
        clear: both;
        label, input, select, textarea {
          margin-right: 10px;
        }
        label {
          width: 150px;
          float: left;
        }
        label.wide_label {
          width: 250px;
          float: left;
          text-align: right;
        }
        .start_finish_comment_editors,
        .start_finish_comment_controls {
          margin-left: 160px;
          * {
            margin: 0px;
          }
        }
      }
    }
    .inline-errors {
      font-size: 0.75em;
      color: #f00;
    }
    .separator {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .time_fields {
      * {
        float: none;
      }
    }
    .note {
      font-size: 0.7em;
      width: 430px;
      display: block;
      float: right;
    }
  }
  .required {
    abbr {
      color: #f00;
      border: none;
      margin-left: 5px;
    }
  }
}

.active-scaffold {
  .current_events,
  .past_events,
  .assigned_staff {
    margin: 15px;
  }
}

.active-scaffold-header {
  .actions {
    a {
      margin: 5px;
    }
  }
}

.role_text_fields {
  width: 420px;
  margin: 10px 0;
  .role_text_field {
    float: left;
    width: 210px;
    height: 30px;
  }
}

.rostered_display {
  width: 100%;
  .role_container {
    padding: 5px;
    margin: 2px;
    ul {
      padding: 0 auto;
      margin: 0px;
    }
    .role_name {
      font-weight: bold;
    }
    small.insufficient {
      color: #f00;
    }
  }
}

.unconfirmed {
  .astrix {
    color: red;
  }
}

.unconfirmed.note {
  margin: 10px 30px;
  padding: 5px;
  border: 1px solid #000;
  text-align: center;
}

#current_events,
#upcoming_events,
#past_events {
  margin-bottom: 20px;
  table {
    width: 100%;
    text-align: left;
    th, td {
      padding: 3px;
    }
  }
}
