/*
  *= require fullcalendar.print
*/
#user_nav,
#tools,
#role_required_counts,
.rostered_display.rejected_staff,
.rostered_display.declined_staff,
.rostered_display.cancelled_staff,
#event_actions,
.role_container .controls,
.flash_error,
.flash_notice,
#footer {
  display:none;
}

a {
  text-decoration: none;
  color: #000;
}

.role_container li {
  line-height: 250%;
}
