<ul>
  <li>
    <p>
      <%=link_to 'Staff List', staff_list_reports_path %> <br />
      A table form list of staff members names phone numbers and addresses.
    </p>
  </li>
  <li>
    <p>
      <%=link_to 'Staff Work History', work_history_reports_path %> <br />
      This report is to show the historical details of a particular staff member.
    </p>
  </li>
  <li>
    <p>
      <%=link_to 'Events for a Specific Date', events_reports_path %> <br />
      This report generates who is assigned to what jobs on a given time period.
    </p>
  </li>
</ul>
